.App {
  text-align: center;
  height:100vh;
  display: flex;
  flex-direction: column;
}

.options {
  display:flex;
  flex-direction:column;
  justify-self: center;
  margin-top: 40%;
  align-items: center;
}

.button {
  background-color: #F4BB44;
  border: 2px solid #ac8126;
  border-radius: 5px;
}

.options-button {
  background-color: #F4BB44;
  color:white;
  width:50%;
  margin-top:25px;
  padding:25px;
  border-radius: 5px;
  font-size: 32px;
}

